---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <body style="">
    <header style="font-family: 'JetBrains Mono', monospace; flex: 1;">
      <h1 style="text-align: center;">404 - Not found</h1>
    </header>
    <footer style="font-family: 'JetBrains Mono', monospace;">
      <a href="/posts">[ Blog ]</a>
      <a href="https://github.com/niconicoj">[ Github ]</a>
      <a href="https://www.linkedin.com/in/nicolas-joulin-8b5a92166"
        >[ Linkedin ]</a
      >
      <a href="mailto:joulin.nicolas@gmail.com">[ Email ]</a>
    </footer>
  </body>
</Layout>
