---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <body style="">
    <header style="font-family: 'JetBrains Mono', monospace; ">
      <h1>niconico.io</h1>
      <p>hello there !</p>
    </header>
    <main style="font-family: 'JetBrains Mono', monospace;  flex: 1;">
      <p>
        I am a <b>full stack developer</b>. Throughout the years I've worked on
        e-commerce applications as well as insurances applications. The
        languages I've used on these are
        <b>PHP</b>, <b>Groovy</b>, <b>Typescript</b> and <b>Java</b>. I also
        worked with
        <b>docker</b>, <b>AWS</b>, and <b>gitlab's CI/CD</b>. I also have a good
        experience with testing strategies as well as <b>agile methodologies</b
        >.
      </p>
      <p>
        Although my job is centered around the web I also have an incline
        towards <b>system programming</b> in <b>Rust</b> and making performant and
        secure utilities. I also have a good grasp of <b>eco-conception</b> and <b
          >accessibility</b
        >.
      </p>
      <p>
        Have a look at my public works on github or gitlab, you can also reach
        out to me on linkedin or via email.
      </p>
      <p>
        You can also check out my blog where I (rarely) post about the
        development experiments I have ran.
      </p>
      <br />
      <p>See you around :)</p>
    </main>
    <footer style="font-family: 'JetBrains Mono', monospace;">
      <a href="/posts">[ Blog ]</a>
      <a href="https://github.com/niconicoj">[ Github ]</a>
      <a href="https://gitlab.niconico.io/niconico">[ Gitlab ]</a>
      <a href="https://www.linkedin.com/in/nicolas-joulin-8b5a92166"
        >[ Linkedin ]</a
      >
      <a href="mailto:joulin.nicolas@gmail.com">[ Email ]</a>
    </footer>
  </body>
</Layout>
