<div
  style="border-bottom: 1px solid var(--grey); background-color: var(--grey); height: 1px; margin: 0.5em 0px 0.5em;"
>
  <span
    style="background-color: var(--green); display: block; width: 5rem; height: 2px;"
  ></span>
</div>
