---
import BlogLayout from "./blog-layout.astro";
---

<BlogLayout>
  <slot />
  <div
    style="font-family: 'JetBrains Mono', monospace; color: #83c092; padding-bottom: 2rem;"
  >
    <a href="/posts">← Back to home</a>
  </div>
</BlogLayout>
